.first {
    background-color: red;
    font-size: 32px;
    color: white;
    text-align: center;
}

.class {
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#id {
    color: blue;
    font-size: 36px;
}

.cool-class {
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#another-id {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}

.black,
.yellow {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

.black {
    background-color: black;
    color: white;    
}

.yellow {
    background-color: yellow;
}